body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.restart-button {
    width: 250px;
    height: 100px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 6px 6px 6px;
    margin-bottom: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.GRID_ITEM {
    flex-basis: 6.25%;
    max-width: 6.25%;
    box-sizing: border-box;
    border: 1px solid black;
}

.painted {
    background-color: black;
}