body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.restart-button {
    width: 250px;
    height: 100px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 6px 6px 6px;
    margin-bottom: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

.square {
    border: 1px solid black;
}

.painted {
    background-color: black;
}